
.oswald {
  font-family: Oswald;
  color: #099;
}

.standard {
  font-family: "Old Standard TT", serif;
}

main {
  background-color: #f1f2f6;
}

.para {
  color: #1b1464;
}

.box {
  background-color: rgba(255, 255, 255, .6);
  border-radius: 50%;
  height: 19em;
  width: 19em;
}
